.parallax {
    background-image: url("../assets/img/BackgroundHome.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: auto;
    background-attachment: local;
}